h1{
    text-align: center;
}

header{    
    background-position: center center;
    height: 400px;
    background-image: url(img/festekek-min.jpg);
}


.navbar{
    background-color: rgba(0, 0, 200, 1);
}
.img{
    width: 375px;
}
.card img{
    width: 200px;
}
.szerszam{
    background-color: cornflowerblue;
}
.szerszam .row{
        border-top: 2px solid rgb(61, 211, 191);
} 